<!DOCTYPE html>
<html>
{{#if user}}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href='/stylesheets/style2.css'/>
</head>

<body >
<div style="background-color:LightCyan" class="jumbotron">
<h1 style="color:black" style="font-family: Futura">Parameters</h1><br>


<form action="/" method="POST">
  <div class="formLayout"; style="color:black;">
   <label>
      Keywords: 
    </label>
    <input style="background-color:LightBlue;" type="text" name="match">
    <label>
       Select a language:
    </label>
  <select style="background-color:LightBlue;" name = "lang" >
    <option value=""> </option>
    <option style="color:black" value="en">English</option>
    <option style="color:black" value="fr">French</option>
    <option style="color:black" value="de">German</option>
    <option style="color:black" value="it">Italian</option>
    <option style="color:black" value="es">Spanish</option>  
  </select><br>

    <label>
       Choose your result type:
    </label> 
  <select style="background-color:LightBlue;" name = "resultType" >
    <option style="color:black" value="mixed">Mixed</option> 
    <option style="color:black" value="recent">Recent</option>
    <option style="color:black" value="popular">Popular</option>
     
  </select><br>

  <label>
  Select location:
  </label>  
    <select style="background-color:LightBlue;" name = "country">
    <option value=""></option>
  <option style="color:black" value="35.2799600,-80.9545120,50mi">Charlotte</option>
  <option style="color:black" value="39.858648,-99.69866,1768.6km">America</option>
  <option style="color:black" value="46.907679,2.470958,417.49km">France</option>
  <option style="color:black" value="51.085608,10.319895,209.51mi">Germany</option>
  <option style="color:black" value="42.808529,12.560349,305km">Italy</option>
  <option style="color:black" value="40.085967,-2.970021,399.02km">Spain</option>
  </select>
  <br>

  
  <label>
  Enter end date: (7 days span)
  </label>

  <input style="background-color:LightBlue;" type="date" name="endDate"<br>

<br>
</div>
  
  <input style="color:black;" type="submit" value="Submit">
  </div>
  

  

</form>

<hr />

<div style="background-color:LightCyan" class="jumbotron">
{{#if results}}
  <br>

 
  <h2>Query Summary</h2>

  <div><span style="color:grey; class="label">Searched Keywords:</span> {{ search.query }}</div>
  <div><span style="color:black; class="label">Total Tweets Returned:</span> {{ this.results.length }}</div>  
  <en><span style="color:black; class="label">Query Completed In: {{ search.completed_in }} seconds</span></en>
  

   
  <!-- -----------------------------------------------------------------------------
  <h2>Results</h2>



  <ul id='results'>
  {{#each results}}  
  
    <li style="color:black;">
      <div class='heading'><br>
        <div><span style="color:black; class="label">Created on:</span> {{ this.created_at }}</div><br>
        <div><span style="color:black; class="label">Author:</span> {{ this.user.screen_name }}</div>
        <div><span style="color:black;class="label">Language:</span> {{ metadata.iso_language_code }}</div>
      </div>
   

      <div><span style="color:black; class="label">Message:</span> <p>{{ this.text }} </p></div>

      <div><span style="color:black; class="label">Retweets:</span> {{ this.retweet_count }} | <span style="color:black; class="label">Favorites:</span> {{ this.favorite_count }}</div>
   
      <div>
      {{#if entities.hashtags}}
        <span style="color:black; class="label">Hashtags:</span>
        {{#each entities.hashtags}}
        <span>#{{this.text}} </span>
        {{/each}}
    
      {{else}}
        <span style="color:black; class="label">No Hashtags</span>
      {{/if}}
      </div>
    </li>
    ------------------------------------------------------------------
  {{/each}} -->
   

   
  <br>
    <button onclick="window.location.href='/Results'">View Results</button>
  </ul>
  
{{else}}
  

</dev>

{{/if}}

{{/if}}

</body>

</html>
