
<!-- views/signin.handlebars -->
<body background = "http://cdn.wonderfulengineering.com/wp-content/uploads/2014/09/blue-wallpaper-21.jpg">
<div class="jumbotron">
  <h1>Sign in</h1>
  <p>This application reflects an effort to support Big Data researchers</p>
  <p>
    <a data-toggle="collapse" href="#local" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in as User</a>
    <a data-toggle="collapse" href="#admin" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in as Admin</a>
   
    
  </p>

  <div id="local" class="collapse">
    <a style="background-color:LightBlue" data-toggle="collapse" href="#local-sign-in" class="btn btn-default btn-md" role="button">I am already a registered user</a>
    <a style="background-color:LightBlue" data-toggle="collapse" href="#local-reg" class="btn btn-default btn-md" role="button">Create an account</a>
  </div>

  <form id ="admin-sign-in" class = "collapse" action = "/login" method="post">
  <div>
        <p></p>
        <label>Username:</label>
        <input style="background-color:LightBlue; type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input style="background-color:LightBlue;" type="password" name="password"/>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="Log In"/>
    </div>
  </form>

  <form id="local-sign-in" class="collapse" action="/login" method="post">
    <div>
        <p></p>
        <label>Username:</label>
        <input style="background-color:LightBlue" type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input style="background-color:LightBlue;" type="password" name="password"/>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="Log In"/>
    </div>
  </form>

  <form id="local-reg" class="collapse" action="/local-reg" method="post">
    <div>
        <p></p>
        <label>Please Select a Username:</label>
        <input style="background-color:LightBlue" type="text" name="username"/>
    </div>
    <div>
        <label>Please Select a Password:</label>
        <input style="background-color:LightBlue;" type="password" name="password"/>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="Register"/>
    </div>
  </form>
</div